# django-countries specific
iso3166-1.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
.python-version
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml

# Translations
#*.mo
*.pot
tx

# Documentation
docs/_build/
site/

# PyBuilder
target/

# OS generated image cache
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db

# PyCharm
/.idea/

# Virtual environment
venv/
virtualenv/
.venv/

# UV
uv.lock

# Ruff cache
.ruff_cache/

# Mypy cache
.mypy_cache/
